  <hr><img src="/assets/img/IMG_20210413_193342.jpg" style="width: 1000PX;"><!-- Start: 1 Row 3 Columns -->
    <div class="container">
        <div class="row">
            <div class="col-md-4"><button class="btn btn-primary" type="button">Like</button><button class="btn btn-primary" type="button">Comment</button></div>
            <div class="col-md-4"><button class="btn btn-primary" type="button">Save</button></div>
            <div class="col-md-4"><button class="btn btn-primary" type="button">Share</button></div>
        </div>
    </div><!-- End: 1 Row 3 Columns --><input type="text"><button class="btn btn-primary" type="button">Comment</button><!-- Start: 1 Row 1 Column -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="list-unstyled border rounded shadow-lg">
                    <li><button class="btn btn-primary" type="button">Like</button><button class="btn btn-primary" type="button">Recomment</button>Comment</li>
                    <li><button class="btn btn-primary" type="button">Like</button><button class="btn btn-primary" type="button">Recomment</button>Comment</li>
                    <li><button class="btn btn-primary" type="button">Like</button><button class="btn btn-primary" type="button">Recomment</button>Comment</li>
                    <li><button class="btn btn-primary" type="button">Like</button><button class="btn btn-primary" type="button">Recomment</button>Comment</li>
                </ul>
            </div>
        </div>
    </div><!-- End: 1 Row 1 Column -->