<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>profile page</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="/assets/css/Lightbox-Gallery.css">
    <link rel="stylesheet" href="/assets/css/Navigation-Clean.css">
    <link rel="stylesheet" href="/assets/css/Navigation-with-Button.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>

<body>
    <hr>
    {{ objects_list }} {{ count }}
    {% for obj in objects_list %}
    <a href="{% url 'accounts:profile' username=obj.username %}">
    {% if obj.user_profile.profile_img %}
    <div class="container border-dark shadow-lg d-xxl-flex justify-content-xxl-start align-items-xxl-center" style="width: 1000px;"><img class="border rounded-circle" src="{{ obj.user_profile.profile_img.url }}" style="width: 150px;height: 150px;">
    {% endif %}
        <div class="col">
            <h1>{{ obj.username }}</h1>
            <p>{{ obj.user_profile.bio }}</p>
        </div>
    </div>
    </a>
    <hr>
    {% endfor %}
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="/assets/js/Lightbox-Gallery.js"></script>
</body>

</html>