{% extends 'index.html' %}

{% block title_block %}List{% endblock %}


{% block body_block %}
    <hr>
    {{ objects_list }} {{ count }}
    {% for obj in objects_list %}
    <a href="{% url 'accounts:profile' username=obj.user.username %}">
    {% if obj.profile_img %}
    <div class="container border-dark shadow-lg d-xxl-flex justify-content-xxl-start align-items-xxl-center" style="width: 1000px;"><img class="border rounded-circle" src="{{ obj.profile_img.url }}" style="width: 150px;height: 150px;">
    {% endif %}
        <div class="col">
            <h1>{{ obj.user.username }}</h1>
            <p>{{ obj.bio }}</p>
        </div>
        <a href="{% url 'accounts:remove-followe' username=obj.user.username %}"><button class='btn btn-danger'>Unfollow</button></a>
    </div></a>
    <hr>
    {% endfor %}


{% endblock %}