{% extends 'index.html' %}

{% block title_block %}List{% endblock %}


{% block body_block %}
    <hr>
    {{ objects_list }} {{ count }}
    {% for obj in objects_list %}
    <a href="{% url 'accounts:profile' username=obj.username %}">
    {% if obj.user_profile.profile_img %}
    <div class="container border-dark shadow-lg d-xxl-flex justify-content-xxl-start align-items-xxl-center" style="width: 1000px;"><img class="border rounded-circle" src="{{ obj.user_profile.profile_img.url }}" style="width: 150px;height: 150px;">
    {% endif %}
        <div class="col">
            <h1>{{ obj.username }}</h1>
            <p>{{ obj.user_profile.bio }}</p>
            
        </div>
        <a href="{% url 'accounts:remove-follower' username=obj.username %}"><button class='btn btn-danger'>Remove Follower</button></a>
    </div>
    </a>
    <hr>
 
    {% endfor %}


{% endblock %}