{% extends 'index.html' %}

{% block title_block %}List{% endblock %}


{% block body_block %}
{% for object in objects_list %}
    <hr><a href="{% url 'accounts:profile' username=object.user.username %}">
    {% if object.profile_img %}
    <div class="container border-dark shadow-lg d-xxl-flex justify-content-xxl-start align-items-xxl-center" style="width: 1000px;"><img class="border rounded-circle" src="{{ object.profile_img.url }}" style="width: 150px;height: 150px;">
    {% endif %}
        <div class="col">
            <h1>{{ object.user.username }}</h1>
            <p>{{ object.bio }}</p>
        </div>
    </div>
    {% endfor %}
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    
    <script src="/assets/js/Lightbox-Gallery.js"></script>
{% endblock %}