{% extends 'index.html' %}

{% block title_block %}Profile{% endblock %}

{% block body_block %}
    <!-- Start: Lightbox Gallery -->
    <section class="photo-gallery">
        <!-- Start: 2 Rows 1+1 Columns -->
        <div class="container">
            <div class="row">
                
            </div>
        </div><!-- End: 2 Rows 1+1 Columns -->
        <!-- Start: 1 Row 2 Columns -->
        <div class="container">
            <div class="row d-xxl-flex justify-content-xxl-end">
                {% if user_profile.profile_img %}
                <div class="col d-xxl-flex order-sm-first order-md-first order-lg-first order-xl-first justify-content-xxl-start align-items-xxl-center order-xxl-first"><img class="rounded-circle img-fluid bg-dark border border-success shadow-lg d-xxl-flex" src="{{ user_profile.profile_img.url }}" width="150" height="150" alt="Profile Pic">
                {% endif %}
                    <p class="text-center d-xxl-flex" style="margin: 30px;">{{user.username}}</p>
                </div>
                <div class="col text-start d-xxl-flex justify-content-xxl-center align-items-xxl-center">
                    <p class="text-break text-start">{{ user_profile.bio }}&nbsp;</p>
                </div>
                <div class="col-md-6 text-center" style="margin: 100;">
                    <div class="row">
                        <div class="col">
                            <a href="{% url 'accounts:user-followers' username=user.username %}"><h2 class="text-center">Followers</h2></a>
                            <p class="text-center">{{user_profile.followers_count}}</p>
                            <hr>
                        </div>
                        <div class="col">
                            <a href="{% url 'accounts:user-following' username=user.username %}"><h2>Following</h2></a>
                            <p>{{ user_profile.following_count }}</p>
                            <hr>
                        </div>

                        <form method="POST" action="{% url 'accounts:follow-requested-user' username=user_profile.user.username %}">
                        {% csrf_token %}
                    </div>
                    {% if request.user == user %}
                    {% elif request.user in user_profile.followers.all %}
                    <input type='submit' class="btn btn-light text-center border rounded-pill border-primary shadow-lg" style="margin: 10px;" value='Unfollow'></input>
                    {% elif request.user in user_profile.followers_requests.all %}
                    <input type='submit' class="btn btn-light text-center border rounded-pill border-primary shadow-lg" style="margin: 10px;" value='Requested'></input>
                    {% else %}
                    <input type='submit' class="btn btn-light text-center border rounded-pill border-primary shadow-lg" style="margin: 10px;" value='Follow'></input>
                    {% endif %}
                    <form>
                    {% if request.user %}
                        {% if request.user == user_profile.user %}
                        <a href="{% url 'accounts:update' username=request.user.username %}"><button type="button" class="btn btn-info">Update Profile</button></a>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div><!-- End: 1 Row 2 Columns -->
        {% if user_profile.private_account %}
            {% if request.user == user_profile.user or request.user in user_profile.followers.all %}
                {% include 'snippets/posts.html' with post=post %}
            {% else %}
            follow to see post
            {% endif %}
        {% else %}
            {% include 'snippets/posts.html' with post=post %}
        {% endif %}
    </section><!-- End: Lightbox Gallery -->
    {% comment %} <script src="{% static '/assets/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="{% static '/assets/js/Lightbox-Gallery.js' %}"></script> {% endcomment %}

{% endblock %}