{% block title_block %} Posts {% endblock %}

{% block body_block %}
    <hr><!-- Start: 1 Row 1 Column -->
    <div class="container">
        <div class="row">
            <div class="col-md-12"><img src="/assets/img/IMG_20210413_193342.jpg" style="width: 1000px;"></div>
        </div>
    </div><!-- End: 1 Row 1 Column -->
    <div class="w-100"></div>
    <div class="col">
        <!-- Start: 1 Row 3 Columns -->
        <div class="container">
            <div class="row">
                <div class="col-md-4"><button class="btn btn-primary" type="button">like</button><button class="btn btn-primary" type="button">comment</button></div>
                <div class="col-md-4"><button class="btn btn-primary" type="button">save</button></div>
                <div class="col-md-4"><button class="btn btn-primary" type="button">share</button></div>
            </div>
        </div><!-- End: 1 Row 3 Columns -->
        <hr>
    </div>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="/assets/js/Lightbox-Gallery.js"></script>
{% endblock %}