{% extends 'index.html' %}

{% block title_block %} Posts {% endblock %}

{% block body_block %}
    <hr><!-- Start: 1 Row 1 Column -->
    {{ object_list }}
    {% for obj in object_list %}
    <div class="container">
        <div class="row">
            <div class="col-md-12"><img src="{{ obj.image.url }}" style="width: 1000px;"></div>
        </div>
    <!-- End: 1 Row 1 Column -->
    {% comment %} <div class="w-100"></div> {% endcomment %}
    <div class="col">
        <!-- Start: 1 Row 3 Columns -->
        <div class="container">
            <div class="row">
                <a href="{% url 'post:like' %}"><div class="col-md-4"><button class="btn btn-primary" type="button">like</button></a>
                <button class="btn btn-primary" type="button">comment</button></div>
                <div class="col-md-4"><button class="btn btn-primary" type="button">save</button></div>
                <div class="col-md-4"><button class="btn btn-primary" type="button">share</button></div>
            </div>
        </div><!-- End: 1 Row 3 Columns -->
        <hr>
    </div>

    </div>
    {% endfor %}
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="/assets/js/Lightbox-Gallery.js"></script>
{% endblock %}