<div class="container">
            <!-- Start: Intro -->
            <div class="intro">
                <h2 class="text-center">Lightbox Gallery</h2>
            </div><!-- End: Intro -->
            <div>
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item" role="presentation"><a class="nav-link active" role="tab" data-bs-toggle="tab" href="#tab-1">About</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" role="tab" data-bs-toggle="tab" href="#tab-2">Followers</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" role="tab" data-bs-toggle="tab" href="#tab-3">Tab 3</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" role="tabpanel" id="tab-1">
                        <!-- Start: Photos -->
                        <div class="row photos" data-bss-baguettebox="">
                        {% for post in posts %}
                            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="{{ post.image.url }}"><img class="img-fluid" src="{{ post.image.url }}"></a><button class="btn btn-primary" type="button">Button</button></div>
                            {% endfor %}
                        </div><!-- End: Photos -->
                    </div>
                    <div class="tab-pane" role="tabpanel" id="tab-2">
                        <p>Content for tab 2.</p>
                    </div>
                    <div class="tab-pane" role="tabpanel" id="tab-3">
                        <p>Content for tab 3.</p>
                    </div>
                </div>
            </div>
        </div>