<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>profile page</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="/assets/css/Lightbox-Gallery.css">
    <link rel="stylesheet" href="/assets/css/Navigation-Clean.css">
    <link rel="stylesheet" href="/assets/css/Navigation-with-Button.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>

<body class="text-center">
    <hr><img src="/assets/img/IMG_20210413_193342.jpg" style="width: 1000PX;"><!-- Start: 1 Row 3 Columns -->
    <div class="container">
        <div class="row">
            <div class="col-md-4"><button class="btn btn-primary" type="button">Like</button><button class="btn btn-primary" type="button">Comment</button></div>
            <div class="col-md-4"><button class="btn btn-primary" type="button">Save</button></div>
            <div class="col-md-4"><button class="btn btn-primary" type="button">Share</button></div>
        </div>
    </div><!-- End: 1 Row 3 Columns --><input type="text"><button class="btn btn-primary" type="button">Comment</button><!-- Start: 1 Row 1 Column -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="list-unstyled border rounded shadow-lg">
                    <li><button class="btn btn-primary" type="button">Like</button><button class="btn btn-primary" type="button">Recomment</button>Comment</li>
                    <li><button class="btn btn-primary" type="button">Like</button><button class="btn btn-primary" type="button">Recomment</button>Comment</li>
                    <li><button class="btn btn-primary" type="button">Like</button><button class="btn btn-primary" type="button">Recomment</button>Comment</li>
                    <li><button class="btn btn-primary" type="button">Like</button><button class="btn btn-primary" type="button">Recomment</button>Comment</li>
                </ul>
            </div>
        </div>
    </div><!-- End: 1 Row 1 Column -->
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="/assets/js/Lightbox-Gallery.js"></script>
</body>

</html>